.bloque {
    display: flex;
    flex-direction: column;
    .title-places {
        height: 80px;
        font-size: $font-size-h1;
        color: $color-2;
        background-color: $color-4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $title-font-family;
    }
    .places-container {
        order: 1;
        display: flex;
        flex-direction: column;
        @include if-desktop {
            flex-direction: row;
            height: auto;
        }
        .lugar-item {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include if-mobile-landscape {
                height: 550px;
                flex-direction: row;
            }
            @include if-desktop {
                height: auto;
                flex-direction: column;
            }
            .informacion {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                @include if-mobile-landscape {
                    width: 40%;
                }
                @include if-desktop {
                    width: 80%;
                }
                .nombre {
                    font-family: $title-font-family;
                    font-size: $font-size-h3;
                    padding: 15px;
                }
                .texto {
                    font-size: $font-size-base;
                    padding-bottom: 20px;
                    line-height: 1.7em;
                    @include if-mobile-landscape {
                        padding-left: 50px;
                        padding-bottom: 0px;
                    }
                    @include if-desktop {
                        padding-left: 10px;
                        padding-bottom: 20px;
                    }
                }
            }
           
            .img-places {
                 object-fit: cover;
                
                @include if-mobile-portrait {
                   
                   height: 300px; 
                   width: 100vw;
                }
                @include if-mobile-landscape {
                    width: 50vw;
                    height: 143vh ;
                    margin: 0;
                }
                @include if-tablet-portrait {
                   
                    height: 50vh; 
                    width: 50vw;
                }
                @include if-desktop {
                    width: 100%;
                    height: 80%;
                    margin: 0;
                }
            }
            &.uno {
                background-color: transparentize($color-3, 0.6);
                @include if-desktop {
                    order: 2;
                    width: 33.3%;
                    a {
                        order: -1;
                    }
                }
            }
            &.dos {
                background-color: transparentize($color-1, 0.6);
                img {
                    @include if-mobile-landscape {
                        order: -1;
                    }
                    @include if-desktop {
                        order: 0;
                    }
                }
                @include if-desktop {
                    order: 1;
                    width: 33.3%;
                }
            }
            &.tres {
                background-color: transparentize($color-5, 0.6);
                @include if-desktop {
                    order: 7;
                    width: 33.3%;
                }
            }
        }
    }
}