.portada {
    display: flex;
    .title-img {
        background-size: 100% 100%;
        background-repeat: repeat;
        background-position: center center;
        background-image: url(img/Alaska.jpg);
        height: 100vh;
        transition: background-size 0.5s;
        @include if-mobile-portrait {
            height: 300px;
            object-fit: cover;
        }
        @include if-tablet-portrait {
            height: 600px;
            object-fit: cover;
        }
        &:hover {
            background-size: 115% 115%;
        }
    }
    .place-detail {
        order: -1;
        position: absolute;
        color: $color-4;
        font-family: $title-font-family;
        p {
            text-align: right;
        }

        @include if-mobile-portrait {
            top: 25vh;
            left: 15vh;
            font-size: 60px;
           
            p {
                font-size: 18px;
            }
        }
        @include if-mobile-landscape {
            top: 40vh;
            left: 40vh;
            font-size: 120px;
            p {
                font-size: 40px;
            }
        }
        @include if-tablet-portrait {
            top: 30vh;
            left: 20vh;
            font-size: 120px;
            p {
                font-size: 40px;
            }
        }

        @include if-tablet-landscape {
           // top: 30vh;
            //left: 20vh;
           // position:center center;
            font-size: 120px;
            p {
                font-size: 40px;
            }
        }

        
        @include if-desktop {
            top: 40vh;
            left: 65vh;
            font-size: 150px;
            p {
                font-size: 50px;
            }
        }
    }
}