<header class="web-header">
    <img id="menu-img" src="img/menú.png">
   <!-- <nav id="menu">
        <ul>
            <li>
                
            </li>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>About</li>
                <li>Contacto</li>
                <li>Galería</li>
            </ul>
        </ul>
    </nav> -->

    <div class="web-title">
        Puntare's travel blog
    </div>


    <div class="form-search">
        <span id="sign">Sign in</span>
        <input class="busquedas" type="search" placeholder="Search">
    </div>

</header>