<div class="bloque container">
    <div class="places-container">
        <div class="lugar-item uno">
            <div class="informacion">
                <h2 class="nombre">Anchorage</h2>
                <p class="texto">Anchorage, oficialmente
                    <span class="cursiva">Municipality of Anchorage</span> en inglés; es una ciudad-condado consolidada localizada en la parte
                    centro-sur del estado de
                    <span class="negrita">Alaska</span>, Estados Unidos. Es la ciudad más al norte del país con más de 100 000 habitantes y la
                    comunidad más grande en Norteamérica localizada por encima del paralelo 60.
                </p>
            </div>
            <a href="https://www.muni.org/pages/default.aspx" target=_blank>
                <img class="img-places" src="./img/Anchorage.jpg" alt="">
            </a>

        </div>

        <div class="lugar-item dos">
            <div class="informacion">
                <h2 class="nombre">Homer</h2>
                <p class="texto">Homer es un pueblo ubicado en el Borough de Península de Kenai en el estado de
                    <span class="negrita">Alaska</span>. De a cuerdo al Censo de los Estados Unidos de 2010, la población es de 5003. Conocido
                    desde hace mucho como La Capital Mundial de Pesca de
                    <span class="cursiva">Halibut</span>. Homer es también conocido como
                    <span class="cursiva">"el final de la carretera,"</span> y más recientemente como,
                    <span class="cursiva">"la aldea cósmica del mar"</span>.

                </p>
            </div>
            <a href="https://www.cityofhomer-ak.gov/" target=_blank>
                <img class="img-places" src="./img/Homer.jpg" alt="">
            </a>

        </div>

        <div class="lugar-item tres">
            <div class="informacion">
                <h2 class="nombre">Seward</h2>
                <p class="texto">Seward es una ciudad ubicada en el borough de Península de Kenai en el estado estadounidense de
                    <span class="negrita">Alaska</span>. En el año 2000 tenía una población de 2.830 habitantes y una densidad poblacional de 75,7
                    personas por km².

                </p>
            </div>
            <a href="http://www.seward.com/" target=_blank>
                <img class="img-places" src="./img/Seward.jpg" alt="">
            </a>

        </div>
    </div>

    <div class="title-places">
        <h1>Lugares que visité</h1>
    </div>
</div>