<section class="trip-list ideal">

    <div class="ui-status empty">
        No hay ningún destino.
    </div>

    <div class="ui-status error">
        Se ha producido un error
    </div>

    <div class="ui-status loading">
        Cargando...
    </div>

    <div class="ui-status ideal">
        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Alaska.jpg" alt="">
            </a>
            <div class="where">Alaska</div>
            <div class="when">2013</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Argentina.jpg" alt="">
            </a>
            <div class="where">Argentina</div>
            <div class="when">2017</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Italia.jpg" alt="">
            </a>
            <div class="where">Italia</div>
            <div class="when">2014</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Irlanda.jpg" alt="">
            </a>
            <div class="where">Irlanda</div>
            <div class="when">2015</div>
        </article>


        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Kiev.jpg" alt="">
            </a>
            <div class="where">Ucrania</div>
            <div class="when">2010</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Berlin.jpg" alt="">
            </a>
            <div class="where">Alemania</div>

            <div class="when">2016</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Portugal.jpg" alt="">
            </a>
            <div class="where">Portugal</div>
            <div class="when">2018</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Canada.jpg" alt="">
            </a>
            <div class="where">Canadá</div>
            <div class="when">2022</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Indonesia.jpg" alt="">
            </a>
            <div class="where">Indonesia</div>
            <div class="when">2020</div>
        </article>

        <article class="trip">
            <a href="detail.html">
                <img class="photo" src="img/Francia.jpg" alt="">
            </a>
            <div class="where">Francia</div>
            <div class="when">2007</div>
        </article>

        <article class="trip">
                <a href="detail.html">
                    <img class="photo" src="img/India.jpg" alt="">
                </a>
                <div class="where">India</div>
                <div class="when">2027</div>
            </article>

            <article class="trip">
                    <a href="detail.html">
                        <img class="photo" src="img/NuevaZelanda.jpg" alt="">
                    </a>
                    <div class="where">Nueva Zelanda</div>
                    <div class="when">2026</div>
                </article>

    </div>

</section>